
:root {
  --main-bg-color: #e0e0e0;
  --dark-shadow-color: #bebebe;
  --light-shadow-color: #ffffff;
  --dark-gradient-bg-color: #f0f0f0;
  --light-gradient-bg-color: #cacaca;
}

.App {
  text-align: center;
  background-color: var(--main-bg-color);
  min-height: 100vh;
}

button:focus, textarea:focus, input:focus{
  outline: none;
}
