.todo-list{
    width: 100%;

}

.todo-list__add-bar {
    display: flex;
    align-items: center;
}

.todo-list__add-input {
    margin-right: 16px;
    width: 100%;
}

.todo-list ul{
    padding: 0;

}